@{
    ViewData["Title"] = "creditos";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>
<div class = Creditos>
    <h1>Integrantes de este gran equipo</h1>
    <img src = "~/Alan.jpeg"></img>
     <h1>Alan Zolotow</h1>
      <h2>Planificador y programador</h2>
    <img src = "~/ari.png"></img>
     <h1>Ari Jusid</h1>
      <h2>Diseñador y programador</h2>
    <img src = "~/Santi.jpeg"></img>
      <h1>Santiago Solmesky</h1>
      <h2>Programador</h2>
</div class = Creditos>

