@{
    ViewData["Title"] = "creditos";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header> 
<h1>Integrantes de este gran equipo</h1>
<div class = Creditos>
  <div><div class = "Titulos">
    <img src = "~/Alan.jpeg">
    
    <h1>Alan Zolotow</h1>
    <h2>Planificador y programador</h2>
    </div>
  </div>
  <div><div class = "Titulos">
    <img src = "~/ari.png">
    <h1>Ari Jusid</h1>
    <h2>Diseñador y programador</h2>
    </div>
  </div>
  <div><div class = "Titulos">
    <img src = "~/santo.jpg">
         
    <h1>Santiago Solmesky</h1>
    <h2>Programador</h2>
    </div>
  </div>
</div>

