@{
    ViewData["Title"] = "Index";
}

<div>
    <img src = "~/logoGH.webp" alt = "logo"></img>
    <h1>GRAN HERMANO Scape Room</h1>
    <h3>"La casa más famosa del mundo"</h3>
    <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
    <img src = "~/santi.webp" alt = "img1"></img>
    <img src = "~/desafio.jpg" alt = "img2"></img>
    <img src = "~/casa.jpg" alt = "img3"></img>
</div>
