@{
    ViewData["Title"] = "Tutorial";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>

<div class = "Tutorial">
    <div class="hero">
    <h1>¿De que se trata?</h1></div>
    

    <section> 
        <div>
        <h2> ¡Bienvenido a la sala de escape digital de Gran Hermano Argentina! En esta emocionante experiencia, te enfrentarás a 4 desafiantes pruebas que pondrán a prueba tu ingenio, creatividad y conocimiento sobre el famoso reality show.</h2>
        <img src = "~/entrada.jpg"></div>
        <div>    
        <img src = "~/arena.jpg">
        <h2>Entrás a una casa con personas desaconocidas con las que vas a tener que jugar y competir para ganar un premio millonario. 
        La casa tiene microfonos y camaras por todos lados encedidas las 24 hs. En cada sala deberás completar un desafio y encontrar las claves para conseguir votos positivos y ganar el premio.</h2>   
        </div>
        <div>
        <h2>El teléfono suena de manera inesperada, y el concursante que atiende recibe una instrucción o un reto que puede influir en el desarrollo del juego.</h2>
        <img src = "~/telefono.webp"></div>
        <div>
        <img src = "~/desafio.jpg">
        <h2>En esta aventura, no solo pondrás a prueba tu ingenio y habilidades de trabajo en equipo, sino que también vivirás la adrenalina de la Prueba del Líder. ¿Tienes lo que se necesita para superar cada obstáculo y convertirte en el líder de la casa? Demuéstralo mientras te enfrentas a retos inspirados en las pruebas más icónicas del programa.</h2>
        </div>

    </section>
</div>