@{
    ViewData["Title"] = "Tutorial";
}

<div>
  <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <h1>GRAN HERMANO Scape Room</h1>
    <h3>Tutorial</h3>
    <h2>De que se trata?</h2>
    <p> Entrás a una casa con personas desaconocidas con las que vas a tener que jugar y competir para ganar un premio millonario. 
    La casa tiene microfonos y camaras por todos lados encedidad las 24 hs.
    En cada sala deberás completar un desafio y encontrar las claves para conseguir votos positivos y ganar el premio.</p>
    <img src = "~/entrada.jpg"></img>
    <img src = "~/arena.jpg"></img>
    <img src = "~/telefono.webp"></img>
    <img src = "~/final.jpg"></img>


</div>