@{
    ViewData["Title"] = "Tutorial";
}
<header>
    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></a>
    <div class = "Titulos">
    <h1>GRAN HERMANO</h1>
    <h3>"La casa más famosa del mundo"</h3>
    </div>

 <button><a href = '@Url.Action("Tutorial")'>Tutorial</a></button>
    <button><a href = '@Url.Action("Comenzar")'>Comenzar</a></button>
    <button><a href = '@Url.Action("Creditos")'>Créditos</a></button>
</header>

<div class = "Titulos">
    <h1>Tutorial</h1>
    <div class="hero">
    <h2>¿De que se trata?</h2></div>
    <p> ¡Bienvenido a la sala de escape digital de Gran Hermano Argentina! En esta emocionante experiencia, te enfrentarás a 4 desafiantes pruebas que pondrán a prueba tu ingenio, creatividad y conocimiento sobre el famoso reality show.
    </p><p>Entrás a una casa con personas desaconocidas con las que vas a tener que jugar y competir para ganar un premio millonario. 
    La casa tiene microfonos y camaras por todos lados encedidad las 24 hs.
    En cada sala deberás completar un desafio y encontrar las claves para conseguir votos positivos y ganar el premio.
    </p>
</div>
<section> 
    <div>
    <img src = "~/entrada.jpg">
    <img src = "~/arena.jpg"></div>
    <div>
    <img src = "~/telefono.webp">
    <img src = "~/final.jpg"></div>

</section>