@{
    ViewData["Title"] = "Victoria";
}

    <a href='@Url.Action("Index")'> <img src = "~/logoGH.webp" alt = "logo"></img></a>
    <img src = "~/ganador.webp" alt = "img1"></img>
    <h1>¡¡FELICIDADES!!</h1>
    <h3>Luego de mucho esfuerzo y sacrificio, lograste ganar el premio de la casa más famosa de Argentina</h3>
    <h1>Apoyo: @ViewBag.Apoyo</h1>
    <h1>Tiempo total: @ViewBag.TiempoTotal</h1>
        <img src = "~/gif vic.gif" alt = "img1"></img>

    <h2>¡Gracias por jugar esta increíble scape room, esperamos que hayan disfrutado la experiencia!</h3>
    <h2>¡Esperamos verlos de nuevo pronto para más desafíos de escape room!</h3>

